<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <table border="1" style="background-color: cyan;text-align: center;">
        <tr>
            <th style="font-style: oblique;background-color: blanchedalmond;">Name</th>
            <th style="font-style: oblique;background-color: blanchedalmond;">Email</th>
            <th style="font-style: oblique;background-color: blanchedalmond;">Course</th>
        </tr>
        {%for a in res%}
        <tr>
            <td style="font-style: italic;background-color: chartreuse;">{{a.name}}</td>
            <td style="font-style: italic;background-color: lightslategray;">{{a.email}}</td>
            <td style="font-style: italic;background-color: lavenderblush;">{{a.course}}</td>
    
        </tr>
        {%endfor%}
        
    </table>
</center>
</body>
</html>